<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>後台</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <style>
      .table {
        --bs-table-striped-bg: #fffde6;
      }

      [v-cloak] {
        display: none;
      }

      body {
        font-family: 'Noto Sans TC', sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row my-4">
        <div class="col-3 offset-9">
          <button
            class="btn btn-primary w-100"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#manageModal"
            @click="editingProduct = {};isEditing = false"
          >
            新增產品
          </button>
        </div>
      </div>
      <div class="row">
        <div>
          <table class="table-hover table-striped table">
            <thead>
              <tr class="table-warning">
                <th class="fw-normal">分類</th>
                <th class="fw-normal">產品名稱</th>
                <th class="fw-normal">原價</th>
                <th class="fw-normal">售價</th>
                <th class="fw-normal" v-if="products[0]?.number !== undefined">
                  數量
                </th>
                <th class="fw-normal text-center">是否啟用</th>
                <th class="fw-normal text-center">編輯</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-cloak
                v-for="(product, index) in products"
                :key="product.id"
                class="align-middle"
              >
                <td>{{ product.category }}</td>
                <td>{{ product.title }}</td>
                <td>NT$ {{ product.origin_price }}</td>
                <td>NT$ {{ product.price }}</td>
                <td v-if="product.number !== undefined">
                  {{product.number? product.number: 0}} {{product.unit}}
                </td>
                <td
                  class="text-center"
                  :class="[product.is_enabled ? 'text-success' : 'text-danger']"
                >
                  {{ product.is_enabled ? "啟用": "未啟用" }}
                </td>
                <td class="text-center">
                  <button
                    class="btn btn-outline-primary me-2"
                    type="button"
                    @click="getProductInfo(product.id);isEditing = true"
                    data-bs-toggle="modal"
                    data-bs-target="#manageModal"
                  >
                    編輯
                  </button>
                  <button
                    class="btn btn-danger"
                    type="button"
                    @click="deleteProduct(product.id)"
                  >
                    刪除
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- 分頁 -->
      <pagination :pages="page" @change-page="changePage"></pagination>

      <!-- 管理(新增、編輯) Modal -->
      <manage-modal
        :product="editingProduct"
        @update="getAllProducts"
        @show-msg="showMsg"
      ></manage-modal>
      <!-- <script type="text/x-template" id="manageModal">

      </script> -->

      <!-- 訊息 Modal -->
      <msg-modal :text="msgText" id="msgModal"></msg-modal>

      <!-- 確認 Modal -->
      <!-- <confirm-modal :text="confirmText" id="confirmModal"></confirm-modal> -->
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
      integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
      integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
      crossorigin="anonymous"
    ></script>
    <script type="module" src="./components/backend.js"></script>
    <!-- <script src="./components/manageModal.js"></script> -->
  </body>
</html>
